@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    overflow: hidden;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

.container-all {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181824;
    color: white;
    position: relative;
}

.bg-img-mobile {
    display: none;
}

.bg-img-desktop {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: 0;
    transform-origin: top left;
    transform: scale(1.4);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: relative;
    z-index: 1;
    width: 40em;
    height: 10em;
    margin-bottom: 1.5em;
}

.todo-title {
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 0.3em;
}

.container-main {
    width: 40em;
    position: relative;
    z-index: 1;
}

.container-theme-icon {
    cursor: pointer;
    width: 2.5em;
    height: 2.5em;
}

.theme-icon {
    width: 100%;
    height: 100%;
}

.input-row {
    width: 100%;
    height: 5em;
    color: white;
    background-color: #25273c;
    border: none;
    margin-bottom: 2em;
    padding: 10px 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.192);
}

.circle-shape {
    height: 2em;
    width: 2em;
    border: 2px solid #2c2e43;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-bar {
    background-color: transparent;
    border: none;
    caret-color: hsl(220, 98%, 61%);
    color: hsl(234, 39%, 85%);
    font-size: 18px;
    width: 28em;
}

.input-var::placeholder {
    color: #37384c;
}

.input-bar:focus {
    outline: none !important;
}

.container-list {
    background-color: #25273c;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 30em;
    overflow-y: scroll;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.192);
}

.container-list::-webkit-scrollbar {
    display: none;
}

.list-item {
    height: 4.5em;
    display: flex;
    gap: 20px;
    padding: 10px 25px;
    align-items: center;
    border-bottom: 1px solid #37384c;
    font-size: 18px;
}

.toggle-btn {
    height: 2.5em;
    width: 2.5em;
    border: 2px solid #2c2e43;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-check {
    width: 50%;
    height: 50%;
}

.last-row {
    display: none
}

.btn-clear-completed {
    background-color: transparent;
    border: none;
    color: #4f5166;
    cursor: pointer ;
}

.btn-clear-completed:hover {
    color: white;
}

.container-filters-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    gap: 20px;
    background-color: #25273c;
    color: #4f5166;
    height: 6em;
    border-top: 1px solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 18px;
    box-shadow: 0px 15px 20px 5px rgba(0, 0, 0, 0.192);
}

.container-filters-desktop>button {
    background-color: transparent;
    border: none;
    color: #4f5166;
}

.buttons-group {
    display: flex;
    gap: 20px;
}

.buttons-group>div {
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .mobile {
        display: block;
    }
    
    .desktop {
        display: none !important;
    }
    
    .container-all {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #181824;
        color: white;
        position: relative;
    }
    
    .bg-img-mobile {
        position: absolute;
        top: 0%;
        width: 100%;
        z-index: 0;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        position: relative;
        z-index: 1;
        width: 20em;
        height: 5em;
        margin-bottom: 1.5em;
    }
    
    .todo-title {
        font-size: 1.5em;
        font-weight: 700;
        letter-spacing: 0.3em;
    }
    
    .container-main {
        width: 20em;
        position: relative;
        z-index: 1;
    }
    
    .container-theme-icon {
        cursor: pointer;
        height: 1.5em;
        width: 1.5em;
    }
    
    .input-row {
        width: 100%;
        height: 3em;
        color: white;
        background-color: #25273c;
        border: none;
        margin-bottom: 2em;
        padding: 10px 15px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
    
    .circle-shape {
        height: 1.5em;
        width: 1.5em;
        border: 2px solid #2c2e43;
        border-radius: 50%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .input-bar {
        background-color: transparent;
        border: none;
        caret-color: hsl(220, 98%, 61%);
        color: hsl(234, 39%, 85%);
        font-size: 12px;
        width: 20em;
    }
    
    .input-var::placeholder {
        color: #37384c;
    }
    
    .input-bar:focus {
        outline: none !important;
    }
    
    .container-list {
        background-color: #25273c;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        height: 19em;
        overflow: scroll;
    }
    
    .list-item {
        height: 4em;
        display: flex;
        gap: 10px;
        padding: 25px 15px;
        align-items: center;
        border-bottom: 1px solid #37384c;
        font-size: 12px;
    }
    
    .toggle-btn {
        height: 1.5em;
        width: 1.5em;
        border: 2px solid #2c2e43;
        border-radius: 50%;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .icon-check {
        width: 50%;
        height: 50%;
    }
    
    .toggle-btn:hover {
        background: lin;
    }
    
    .last-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #25273c;
        font-size: 12px;
        padding: 25px 15px;
        border-top: 1px solid #37384c;
        color: #4f5166;
        margin-bottom: 20px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.192);
    }
    
    .btn-clear-completed {
        background-color: transparent;
        border: none;
        color: #4f5166;
        cursor: pointer ;
    }
    
    .btn-clear-completed:hover {
        color: white;
    }
    
    .container-filters-mobile {
        display: flex;
        justify-content: center;
        gap: 20px;
        background-color: #25273c;
        height: 3em;
        border-radius: 5px;
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.192);
    }
    
    .container-filters-mobile>button {
        background-color: transparent;
        border: none;
        color: #4f5166;
    }
}